
alias d="cd ~/Dropbox"
alias g="git"
alias j="jobs"
alias s="subl ."
alias o="open"
alias oo="open ."

alias ls='ls -G'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Enable aliases to be sudo’ed
alias sudo='sudo '

alias cheat='cat ~/.cheat'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# File size
alias fs="stat -f \"%z bytes\""

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
